# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.vscode
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Build directories
bin/
dist/

# Dependency directories (remove the comment below to include it)
arch/

